:root {
	--el-color-primary: #34d399;
}

*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}
.hover-text:hover {
	cursor: pointer;
	color: #2dd4bf !important;
}
img {
	max-width: 100%;
	height: auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
/* 
    推荐页全局样式
*/
.songdetail {
	display: flex;
	flex-direction: column;
	gap: 0.5rem 0;
}
.song-text {
	font-size: 0.75rem;
}
.song-white {
	color: rgb(148 163 184);
}
.aspect-video {
	aspect-ratio: 16 / 9;
	border-radius: 0.5rem;
}
.aspect-square {
	aspect-ratio: 1 / 1;
}

/* 
    element-plus样式
*/
.el-popover.popperOption {
	padding: unset !important;
}
.el-popover.popperOptions {
	width: 50px;
	min-width: 50px;
}
