*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
.hover-text:hover {
	cursor: pointer;
	color: #2dd4bf;
}
img {
	max-width: 100%;
	height: auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.el-popover.popperOption{
	padding: unset !important;
}
.el-popover.popperOptions{
    width: 50px;
    min-width: 50px;
}